flows/raspberry_pi.json
[{"id":"fe16c1fd.4968","type":"rpi-keyboard","z":"4b7e183c.ac0db8","name":"","x":148.5,"y":288,"wires":[["f593b910.cdc6f8","eef756fd.554218"]]},{"id":"f593b910.cdc6f8","type":"mqtt out","z":"4b7e183c.ac0db8","name":"","topic":"/users/alice/key","qos":"","retain":"","broker":"45b6da84.2ef8fc","x":662.5,"y":288,"wires":[]},{"id":"eef756fd.554218","type":"debug","z":"4b7e183c.ac0db8","name":"","active":true,"console":"false","complete":"false","x":635.5,"y":241,"wires":[]},{"id":"3236034c.2facec","type":"inject","z":"4b7e183c.ac0db8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":162.5,"y":368,"wires":[["f593b910.cdc6f8"]]},{"id":"c2eeee4a.9e3518","type":"tail","z":"4b7e183c.ac0db8","name":"View Temperature File 1","filetype":"text","split":true,"filename":"/home/pi/inputs/temperature1.log","x":126.5,"y":438,"wires":[["db166d2f.c3286"]]},{"id":"db166d2f.c3286","type":"function","z":"4b7e183c.ac0db8","name":"Add Timestamp","func":"msg.payload = {\n    timestamp: new Date().getTime(),\n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":410.5,"y":433,"wires":[["eef756fd.554218","82a75300.c9c4a"]]},{"id":"82a75300.c9c4a","type":"mqtt out","z":"4b7e183c.ac0db8","name":"","topic":"/users/alice/temperature/1","qos":"","retain":"","broker":"45b6da84.2ef8fc","x":728.5,"y":387,"wires":[]},{"id":"45b6da84.2ef8fc","type":"mqtt-broker","z":"","broker":"10.1.10.126","port":"1883","tls":"","clientid":"raspberry_pi_1","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"/users/alice/connection","birthQos":"0","birthRetain":"false","birthPayload":"Connected!"}]